body{
    padding-top: 75px;
}

.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05),
                0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

#section-principal{
    position: relative;
}



#seg-section{
    position: relative;
}

@media(min-width:800px){
#seg-section::after {
  content: "";
  position: absolute;
  left: -80px;
  top: 50%;
  width: 160px;
  height: 160px;
  background-image: url("../img/Icons.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  opacity: 0.6;
  pointer-events: none;
  z-index: 10;
}
#section-principal::after {
  content: "";
  position: absolute;
  right: -80px;
  top: 5;
  width: 160px;
  height: 160px;
  background-image: url("../img/Icons.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  opacity: 0.6;
  pointer-events: none;
}


}


#section-fundo{
    background: url(../img/fundo.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    border-radius: 50px;
    margin-top: 90px;
}



#section-final{
    background: url(../img/fundo2.png);
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 50px;
    margin-top: 90px;
}


@media (max-width:600px) {
    #section-fundo{
        height: 300px;
        border-radius: 0;
    }
    #section-principal #foto img{
    margin-top: 10px;
    height: 350px;
}
    #section-final{
    height: 300px;
    border-radius: 0;
}

}

@media (min-width: 768px) {
  .btn-responsive {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
  }
}